.App {
  text-align: center;
  padding: 20px;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

.graph-box {
  width: 100%;
  max-width: 1600px;
  height: 700px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}

.heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
